@charset "utf-8";
/* CSS Document */
body {font-family: 微软雅黑 !important;}
ul li{ list-style:none; margin:0}
.clear {clear: both;}
.left{float:left;}
.right{float:right;}
.space{margin-bottom:10px ;}
/*导航*/
.chpz-top-nav {padding: 5px;}
.chpz-top-nav a {color: #686868;padding: 0px 5px 0px 5px;float: right;}

/*底部*/
footer{ background:#333333; color:#fff; padding-top:30px; padding-bottom:30px;}
footer .footer_contract{ margin-top:50px;}
footer p{ margin-top:30px;}
footer img{width:180px; height:180px;}
.main-footer {background-color: #F9F9F9;}
.banben{background:#585858;height:40px; line-height:40px;color:#fff;}
.banben a{color:#fff; margin-right:20px;}
footer{padding:0px !important;}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	padding-right: 5px;
	padding-left: 5px;
}

.control-label {
	padding-top: 7px;
	text-align: right;
}

.nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.wrap {
	word-wrap: break-word;
}

.dvs-search-form-nav {
	margin-bottom: 5px;
	padding-top: 10px;
}

.dvs-operation-bar {
	margin-bottom: 5px;
}

.dvs-mmg-table-paginator {
	text-align: right;
}

.dvs-search-form input, select, textarea, button {
	margin-bottom: 10px;
}

.dvs-update-form input, select, textarea, button {
	margin-bottom: 10px;
}
@media ( max-width : 768px) {
	.dvs-search-form button {
      margin-bottom:10px !important;
	}
}