@charset "utf-8";
/* CSS Document */
.info_peo span{ display:block; line-height:24px;}
.rect{ margin:0 auto;}
.truck{ margin-right:10px;}
.tab-content{ margin-top:20px;}
.magn{ margin-top:20px;}
#myTab{ margin-top:20px;}
.match{padding:10px; border:#f0eae9 1px solid;}
.match:hover{border:#4e83e3 1px solid;}
.magn { margin-top: 10px; margin-bottom:10px;}