body {
	background-color: #ecf0f5;
}

.sidebar {
	background: #f8f8f8;
	margin-right: 10px;
}

.sidebar .sidebar-menu>li>a {
	border-left: 3px solid transparent;
}

.sidebar .sidebar-menu>li.active>a {
	background: #f1f1f1;
	border-left-color: #3c8dbc;
}

footer {
	background: #333333;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer .footer_contract {
	margin-top: 50px;
}

footer p {
	margin-top: 30px;
}